body{   
    background:white;  
}  
#frm{  
    border: solid #f5f5f5 1px;  
    width:25%;  
    border: 2px solid #cccccc;
    border-radius: 12px;  
    margin: 220px auto;  
    background: hsl(0, 33%, 98%);  
    padding: 80px;  
    align-self: center;
    /* width: 500px;
    border: 2px solid #cccccc;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px */
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 40%;  
    margin-top: 30px;
    width: 90px;
}  
label {
    padding:  auto 25px;
    font-size: 18px;
    margin-left: 150px;
    margin-top: 10px;
    /* margin: 10px; */
    font-weight: 800%;
}
input{
    margin-top: 7px;
    margin-bottom: 15px;
    border-radius: 3px;
    margin-left: 150px;
}